*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #08080c;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}

body::before{
    content: "";
    position: fixed;
    width: 700px;
    height: 700px;
    background: #7c3aed;
    opacity: 0.12;
    filter: blur(180px);
    border-radius: 50%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.navbar {
    height: 80px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -1px;
}

.logo span {
    color: #9b6cff;
}

.nav-btn {
    text-decoration: none;
    color: white;
    background: #111117;
    border: 1px solid #292934;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #1b1b25;
    transform: translateY(-2px);
}


.hero{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}


.badge {
    border: 1px solid #292934;
    background: #111117;
    padding: 8px 16px;
    border-radius: 30px;
    color: #aaa;
    font-size: 11px;
    letter-spacing: 1.5px;
}

h1 {
    margin-top: 25px;
    font-size: clamp(55px, 8vw, 105px);
    line-height: 0.95;
    letter-spacing: -5px;
}

h1 span {
    background: linear-gradient(90deg, #9b6cff, #d59cff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.description {
    max-width: 550px;
    margin-top: 30px;
    color: #9a9aa5;
    font-size: 18px;
    line-height: 1.6;
}

.start-btn {
    display: inline-block;
    margin-top: 35px;
    padding: 17px 28px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.start-btn span {
    margin-left: 10px;
}

.start-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.15);
}

.hint {
    margin-top: 18px;
    font-size: 12px;
    color: #666;
}


.activity-card {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 20px;
    background: rgba(20,20,28,0.85);
    border: 1px solid #292934;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}


.activity-icon {
    font-size: 22px;
}

.activity-card strong{
    display: block;
    font-size: 14px;
}

.activity-card small{
    display: block;
    margin-top: 4px;
    color: #777;
}

.card-one {
    left: 8%;
    top: 35%;
}

.card-two {
    right: 8%;
    top: 28%;
    animation-delay: 1s;
}

.card-three {
    right: 13%;
    bottom: 15%;
    animation-delay: 2s;
}

/* mobile responsive*/

@media (max-width: 700px) {
    .navbar {
        padding: 0 5%;
    }

    .nav-btn{
        display: none;
    }

    .hero{
        padding: 80px 20px;
    }

    h1 {
        font-size: 58px;
        letter-spacing: -3px;
    }

    .description {
        font-size: 16px;
    }

    .activity-card{
        display: none;
    }
}